<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div class="container">
    <h1> 商品详情 </h1>
    <p>
        <a href="/logout/">登出</a>
    </p>
    <p>
        <a href="/changeInfo/">修改身份</a>
    </p>
    <p>
        <a href="/upload/">上传商品</a>
    </p>
</div>

<div>

    <h1>商品信息</h1>
    <b>商品名称</b><br>
    {{ goods.name }}
    <br>
    上传者姓名:
    {{ goods.seller.name }}
    <br>
    商品价格：
    {{ goods.price }}元<br>
    <img src="{{ MEDIA_URL }}{{ goods.img }}" width="128" height="128"/>
    {{ goods.img }}
    <br>
    商品简介:<br>
    {{ goods.descrip }}
    <br>



</div>
</body>
</html>