body {
  height: 100%;
  background: url('../image/bg.png') no-repeat center;
  background-size: 100% 94%;
  background-position-y: 100px;
  background-attachment: scroll;
  margin-top: 100px;
}
.container{
  width: 750px;
  height:750px;
  border: 5px solid #EEEEEE;
  background-color: rgba(255,255,255,0.9);
  margin:auto;
  margin-top: 25px;
}
.container-left{
  float: left;
  margin-left:10px;
  margin-top:230px;
}
.logo{
  margin-left: 0px;
}
.tip{
  color: gold;
  font-size: 30px;
  margin-left: 35px;
}
.container-left>p:last-child{
  color:black;
  font-size: 30px;
}

.form-register {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 250px;
}
.form-group {
  margin-bottom: 5px;
}
form a{
  display: inline-block;
  margin-top:25px;
  line-height: 10px;
}